/* Calculator */
#calculator {
  /* TODO(rex): Fades... */
  /* opacity: 0; */
  position: relative;
  width: 520px;
  border: 1px solid #eee;
  margin: auto;
  padding: 20px;
  background: #ffffff;
  z-index: 16;
  transition: all 0.25s;
}
#calculator form {
  width: 100%;
}
#calculator form h1 {
  width: 80%;
  margin: 4px auto;
  padding: 5px;
  text-align: center;
}
#calculator form label {
  display: block;
  width: 60%;
  margin: 4px auto;
  padding: 5px;
}
#calculator form label input {
  width: 100%;
  padding: 4px;
  margin: 2px auto;
  font-family: "Lucida Console", Monaco, monospace;
}
#calculator form .btn-wrap {
  width: 60%;
  margin: 4px auto;
  padding: 5px;
  overflow: auto;
}
#calculator form .btn-wrap button {
  float: right;
  margin: auto;
  padding: 8px;
  border: none;
  background-color: #555555;
  color: #fff;
  font-size: 20px;
  font-family: "Lucida Console", Monaco, monospace;
  transition: all 0.25s;
}
#calculator form .btn-wrap button:hover {
  background-color: #5a5a5a;
  color: #f3f3f3;
  cursor: pointer;
  transition: all 0.25s;
}
#calculator form .btn-wrap button:active {
  background-color: #5e5e5e;
  color: #f0f0f0;
  transition: all 0.25s;
}
#calculator #output-card {
  width: 60%;
  border: 1px solid #eee;
  margin: auto;
  padding: 20px;
}
#calculator #output-card h1 {
  width: 80%;
  margin: 4px auto;
  padding: 5px;
  text-align: center;
}
#calculator #output-card #output {
  margin: 8px auto;
  padding: 8px;
  text-align: center;
  font-size: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Configure FOV Dimension Dialog */
#calculator #configure-fov-dimen {
  position: absolute;
  top: 0;
  left: 0;
  color: #bcbcbc;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  z-index: 20;
  padding: 4px;
  overflow: hidden;
}
#calculator #configure-fov-dimen:hover {
  cursor: pointer;
  border: 1px solid #eeeeee;
}
#calculator #configure-fov-dimen #configure-fov-dimen-dialog {
  width: 160px;
  padding: 4px 8px;
  background-color: #ffffff;
  font-size: 12px;
  visibility: hidden;
  display: none;
  opacity: 0;
  z-index: 24;
}
#calculator #configure-fov-dimen #cog {
  font-size: 24px;
  font-weight: bold;
  color: #eeeeee;
  transition: all 0.25s;
}
#calculator #configure-fov-dimen:hover #cog,
#calculator #configure-fov-dimen #cog:hover {
  color: #bcbcbc;
  transition: all 0.25s;
}
#calculator #configure-fov-dimen:hover #configure-fov-dimen-dialog,
#calculator #configure-fov-dimen #configure-fov-dimen-dialog:hover {
  visibility: visible;
  display: block;
  opacity: 1;
  cursor: pointer;
  transition: all 0.25s;
}
#calculator #configure-fov-dimen #configure-fov-dimen-dialog label {
  display: block;
  width: 100%;
  padding: 2px;
  margin: auto;
  text-align: left;
}
#calculator #configure-fov-dimen #configure-fov-dimen-dialog label input {
  display: inline-block;
  width: 20px;
  text-align: right;
}
