/**
 * FOV to Zoom (and back) Calculator styles.
 * Created by Rex Twedt
 * Copyright 2018
 */

/* Calculator */
#calculator {
  position: relative;
  min-width: 290px;
  max-width: 520px;
  border: 1px solid #eee;
  margin: auto;
  padding: 64px 0;
  background: #ffffff;
  z-index: 16;
  transition: all 0.25s;
}
#calculator form {
  width: 100%;
}
#calculator form h1 {
  width: 80%;
  margin: 4px auto;
  padding: 5px;
  text-align: center;
}
#calculator form label {
  display: block;
  width: 60%;
  margin: 4px auto;
  padding: 5px;
}
#calculator form label input {
  width: 100%;
  padding: 4px;
  margin: 2px auto;
  font-family: "Lucida Console", Monaco, monospace;
}
#calculator form .btn-wrap {
  width: 60%;
  margin: 4px auto;
  padding: 5px;
  overflow: auto;
}
#calculator form .btn-wrap button {
  float: right;
  margin: auto;
  padding: 8px;
  border: none;
  background-color: #555555;
  color: #fff;
  font-size: 20px;
  font-family: "Lucida Console", Monaco, monospace;
  /* transition: all 0.25s; */
}
#calculator form .btn-wrap button:hover {
  background-color: #5a5a5a;
  color: #f3f3f3;
  cursor: pointer;
  /* transition: all 0.25s; */
}
#calculator form .btn-wrap button:active {
  background-color: #5e5e5e;
  color: #f0f0f0;
  /* transition: all 0.25s; */
}
/* Output Card */
#calculator #output-card {
  width: 60%;
  border: 1px solid #eee;
  margin: auto;
  padding: 20px;
}
#calculator #output-card h1 {
  width: 80%;
  margin: 4px auto;
  padding: 5px;
  text-align: center;
}
#calculator #output-card #output {
  margin: 8px auto;
  padding: 8px;
  text-align: center;
  font-size: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Configure FOV Dimension Dialog */
#calculator #config {
  position: absolute;
  top: 0;
  left: 0;
  color: #bcbcbc;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  z-index: 20;
  padding: 4px;
  overflow: hidden;
}
#calculator #config:hover {
  cursor: pointer;
  border: 1px solid #eeeeee;
}
#calculator #config #config-dialog {
  width: 160px;
  padding: 4px 8px;
  background-color: #ffffff;
  font-size: 12px;
  visibility: hidden;
  display: none;
  opacity: 0;
  z-index: 24;
}
#calculator #config #cog {
  padding: 8px;
  font-size: 24px;
  font-weight: bold;
  color: #dedede;
  z-index: 20;
  /* transition: all 0.25s; */
}
#calculator #config:hover #cog,
#calculator #config #cog:hover {
  color: #bcbcbc;
  /* transition: all 0.25s; */
}
#calculator #config:hover #config-dialog,
#calculator #config #config-dialog:hover {
  visibility: visible;
  display: block;
  opacity: 1;
  cursor: pointer;
  /* transition: all 0.25s; */
}
#calculator #config #config-dialog label {
  width: 100%;
  padding: 4px 4px 4px 25px;
  margin: 6px auto;
  text-align: left;

  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#calculator #config #config-dialog label input {
  text-align: right;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  /* transition: all 0.25s; */
}

/* Create a custom radio button
 * Source: https://www.w3schools.com/howto/howto_css_custom_checkbox.asp
 */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eeeeee;
  border-radius: 50%;
}
#calculator #config #config-dialog label:hover input ~ .checkmark {
  background-color: #bcbcbc;
  transition: all 0.25s;
}
#calculator #config #config-dialog label input:checked ~ .checkmark {
  background-color: #555555;
  transition: all 0.25s;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
#calculator #config #config-dialog label input:checked ~ .checkmark:after {
  display: block;
}
#calculator #config #config-dialog label .checkmark:after {
  top: 5px;
  left: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;
}

/* Media Queries */

@media (max-width: 520px) {
  #calculator {
    border: 1px solid #ffffff;
  }
}
@media (max-width: 700px) {
  #calculator #config {
    top: 33px;
  }
}
